<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="com.smhrd.dao.UseDAO">
	<insert id="useInsert" parameterType="UseVO">
		INSERT INTO use_list(use_number, kick_number, hel_number, mem_id)
		VALUES (use_seq.NEXTVAL, #{kick_num}, #{hel_num}, #{mem_id})
	</insert>
	
	<select id="accSelectOne" parameterType="String" resultType="AccVO">
		SELECT * FROM acc_view WHERE hel_number = #{hel_num}
	</select>




</mapper> 